:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: "Lato", sans-serif;
  --height: 2.5rem;
  --btn-width: 4rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
  --backdrop: #dffc00;
  --container-background: #d9d9d9;
}
.logo {
  position: relative;
  width: 100%;
  text-align: center;
  align-self: center;
}
.navbar a {
  color: white;
}
.navbar {
  background-color: #545454;
}
.navbar-brand {
  width: 140px;
}
.mobile-nav {
  display: none;
}
.form-navbar {
  position: relative;
  width: 30rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}
/* Change to just form for navbar styles ^^ */

.navbar-input {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.1rem;
}
.navbar-input-btn {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.1rem;
}

.navbar-input[type="search"] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.navbar-input-btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}

.navbar-input:not(:-moz-placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}

.navbar-input:not(:-ms-input-placeholder) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}

.navbar-input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}
.navbar-input:not(:-moz-placeholder-shown) + button {
  display: block;
}
.navbar-input:not(:-ms-input-placeholder) + button {
  display: block;
}
.navbar-input:not(:placeholder-shown) + button {
  display: block;
}

.navbar-label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
#contact {
  border-bottom: 1px solid rgb(0, 0, 0);
  text-align: center;
  position: relative;
  background-color: grey;
  display: grid;
  grid-template-columns: auto auto auto;
  color: white;
}
.office, .social-media {
  position: relative;
  margin: auto;
}
.wrapper {
  display: inline-flex;
  list-style: none;
}
.wrapper .icon {
  position: relative;
  background: rgb(71, 70, 70);
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #000000;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .email:hover,
.wrapper .email:hover .tooltip,
.wrapper .email:hover .tooltip::before {
  background: #de4133;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #f206cc;
  color: #ffffff;
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1da1f2;
  color: #ffffff;
}
.wrapper .cobldg:hover,
.wrapper .cobldg:hover .tooltip,
.wrapper .cobldg:hover .tooltip::before {
  background: #1e4ac4;
  color: #ffffff;
}
.wrapper .cbs:hover,
.wrapper .cbs:hover .tooltip,
.wrapper .cbs:hover .tooltip::before {
  background: #e1b301;
  color: #ffffff;
}
.contact-info-container {
  display: grid;
  grid-template-columns: 60% auto;
  max-height: 500px;
}
#reach-us-container {
  background-color: var(--container-background);
  padding: 40px;
  line-height: 4;
  display: flex;
  justify-content: center;
  align-items:center;
}
#reach-us-container a{
  color: black;
}
.icon-wording {
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: black;
  overflow-wrap: normal;
}
#reach-us-image {
  position: relative;
  width: auto;
  max-width: 100%;
  background-color: var(--container-background);
} 
#reach-us-img-container {
  background-color: var(--container-background);
  display: flex;
  justify-content: right;
}
@media screen and (max-width: 650px) {
  .contact-info-container, .contact-box {
    grid-template-columns: auto;
  }
  #contact-form {
    margin-left: 0px;
  }
  #contact {
    grid-template-columns: auto;
  }
  .footer-content {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .wrapper {
    position: relative;
    right: 20px;
  }
  .wrapper .icon {
    width:30px;
    height:30px;
  }
  .contact-info-container {
    max-height:max-content;
  }
}